html, body {
    margin: 0;
    background-color: #000;
    font-family: 'Mate SC', serif;
}

footer {
    color: #fff;
    font-size: 13px;
}

.topbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    padding: 30px;
    text-align: center;
}

.topbar-nav {
    float: left;
}

.topbar-nav a {
    color: #9F9F9F;
    text-decoration: none;
    font-weight: 500;
    margin: 0 33px;
}

.topbar-nav a:hover, .topbar-nav a.active {
    text-decoration: underline;
    color: #000;
}

.social {
    float: right;
}

.social a {
    padding: 0 12px;
    opacity: .5;
    transition:  opacity .3s;
}

.social a:hover {
    opacity: 1;
}

.banniere {
    height: 427px;
    background: no-repeat center center /cover url(img/header.jpg);
}

.underC {
    display: inline;
}

.underC h1 {
    color: #fff;
    font-size: 70px;
    text-align: center;
    vertical-align: middle;
    text-shadow: #323232 5px 10px;
}

.underC img {
    height: 200px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 100px;
}

