body, html {
    margin: 0;
    background: rgba(55, 88, 62, 0.795);
    height: 100%;
    font-family: 'Mate SC', serif;
}

.central h1 {
    color: #fff;
    font-size: 70px;
    text-align: center;
    vertical-align: middle;
    text-shadow: #323232 5px 10px;
}

.central ul{
    text-align: center;
}

.central li {
    display: inline-block;
    margin: 25px;
}

.central li img {
    height: 55px;
}

.central li img:hover {
    height: 90px;
}

.moi {
    display: block;
    padding: 50px 0 0 30px;
    text-align: center;
    border-radius: 100px;
    box-shadow: #323232 10px 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    clear: both;
}

hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
}

/* Shine */
.shine {
    height: 20px;
    width: 60%;
    background-image: radial-gradient(
      farthest-side at 50% -50%,
      hsla(0, 0%, 0%, 0.5),
      hsla(0, 0%, 0%, 0));
    position: relative; 
}
  
.shine::before {
    height: 1px;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    background-image: linear-gradient(
      90deg,
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0.75) 50%,
      hsla(0, 0%, 0%, 0));
}
  