html, body {
    margin: 0;
    background-color: #000;
    font-family: 'Mate SC', serif;
}

footer {
    color: #fff;
    font-size: 13px;
}

.header {
    background: grey;
    padding: 20px;
    height: auto;
    color: #ffffff;
    text-align: center;
    height: 30px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header-nav {
    text-align: center;
}

.header-nav a {
    padding: 0 10px;
    color: inherit;
    text-decoration: none;
}

.header-nav a:hover {
    text-decoration: underline;
}

.underC {
    height: 645px;
}

.underC h1 {
    color: #fff;
    font-size: 70px;
    text-align: center;
    vertical-align: middle;
    text-shadow: #323232 5px 10px;
}

.underC img {
    display: inline-block;
    height: 200px;
    margin-top: 150px;
    margin-left: 20px;
    border-radius: 0px 100px 0px 100px;
}